<h2>Show All Records</h2>

<form action="/show_all">
  <p>Please enter the table name to show all current records in the given table.</p>
  
  <p><select name="table_name">
                          <option value="Blank"></option>
                          <option value="products">Product Table</option>
                          <option value="locations">Location Table</option>
                          <option value="categories">Category Table</option>
                          </select></p>
  <br>
  <p><input type="submit"></p>
</form>

<p><a href="/" title="To homepage">Click here to return to the main homepage.</a></p>
