<h2>Show All Records</h2>

<form action="/show_all">
  <p>Please enter the table name to show all records in the given table.</p>
  
  <select name="table_name">
                          <option value="Blank"></option>
                          <option value="products">Product table</option>
                          <option value="locations">Location table</option>
                          <option value="categories">Category table</option>
                          </select></p>
  
  <p><input type="submit"></p>
</form>
