<h2>Products in a Given Category</h2>

<form action="/category_results">
  <p>Please select the category to show all products in that category.</p>
  
  <p>Location:       <select name="category_id">
                        <option value="Blank"></option>
                        <option value="1">1: Misc</option>
                        <option value="2">2: Books</option>
                        <option value="3">3: Movies</option>
                        </select></p>
  
  <p><input type="submit"></p>
</form>

<p><a href="/" title="To homepage">Click here to return to the main homepage.</a></p>