<h2>Success!!</h2>


<p>Product with ID number <%= "#{params[:id]}" %> has been <strong>deleted</strong> from the database!</p>

<p><a href="/" title="To homepage">Click here to return to the main homepage.</a></p>