<h2>Create a New Product Record</h2>

<form action="/create_confirm">
  <p><h4>Please enter the following information:</h4></p>
  <div>
  <p>Serial Number:</p>     <p><input type="number" name="serial_number"></p>
  
  <p>Title:</p>             <p><input type="text" name="description"></p>
  
  <p>Quantity:</p>          <p><input type="number" name="quantity"></p>
  
  <p>Cost:</p>              <p><input type="number" name="cost"></p>
  
  <p>Location ID:</p>       <p><select name="location_id">
                            <option value="Blank"></option>
                            <option value="1">1: Omaha - HQ</option>
                            <option value="2">2: Austin</option>
                            <option value="3">3: Kansas City</option>
                            </select></p>
  
  <p>Category ID:</p>       <p><select name="category_id">
                            <option value="Blank"></option>
                            <option value="1">1: Misc</option>
                            <option value="2">2: Books</option>
                            <option value="3">3: Movies</option>
                            </select></p></div>
  </div>
  <p><h5>Click the submit button to enter the new product record.</h5></p>

  <p><input type="submit"></p>
</form>

<p><a href="/" title="To homepage">Click here to return to the main homepage.</a></p>

