<h2>Delete Product</h2>

<form action="/confirm_delete">
  <p>Please enter the following information to delete the product record.</p>
  
  <p>Product ID:     <input type="number" name="id"></p>
  
  <p><input type="submit"></p>
</form>