<h2>Edit Product Information</h2>

<form action="/edit_results">
  <p>Please enter the ID of the product to edit.</p>
  
  <input type="number" name="id">
  
  <p><input type="submit"></p>
</form>

<p><a href="/" title="To homepage">Click here to return to the main homepage.</a></p>