<h1>Welcome to Warehouse Manager</h1>

<p><h4>Please select from the options below.</h4></p>
<br>
</br>

<p><a href="/create" title="Create new record">Create a new product record.</a></p>

<p><a href="/all" title="Show all records">Show all records in a given table.</a></p>

<p><a href="/location" title="Show records in given location">Show all products in a given location.</a></p>

<p><a href="/category" title="Show records in given category">Show all products in a given category.</a></p>

<p><a href="/single" title="Show a single record">Show an individual product record.</a></p>

<p><a href="/edit" title="Edit product record">Edit an individual product record.</a></p>

<p><a href="/transfer" title="Transfer locations">Transfer individual product record to new location.</a></p>

<p><a href="/delete" title="Delete record">Delete an individual product record.</a></p>
