<h2>Show All Products in a Given Location</h2>

<form action="/location_results">
  <p>Please select the location to show all products in that location.</p>
  
  <p>Location:       <select name="location_id">
                        <option value="Blank"></option>
                        <option value="1">Omaha - HQ</option>
                        <option value="2">Austin</option>
                        <option value="3">Kansas City</option>
                        </select></p>
  
  <p><input type="submit"></p>
</form>


