<h2>Products in a Given Location</h2>

<form action="/location_results">
  <p>Please select the location to show all products currently in that location.</p>
  
  <p>       <select name="location_id">
                        <option value="Blank"></option>
                        <option value="1">1: Omaha - HQ</option>
                        <option value="2">2: Austin</option>
                        <option value="3">3: Kansas City</option>
                        </select></p>
  
  <p><input type="submit"></p>
 
</form>
  
<p><a href="/" title="To homepage">Click here to return to the main homepage.</a></p>


