<h2>Show an Individual Product Record</h2>

<form action="/single_results">
  <p>Please enter the product ID for the individual product you want to look-up.</p>
  
  <p>Table:       <select name="table_name">
                        <option value="Blank"></option>
                        <option value="products">Product</option>
                        <option value="locations">Location</option>
                        <option value="categories">Category</option>
                        </select></p>
                        
  <p>Product ID:     <input type="number" name="record_id"></p>
  
  <p><input type="submit"></p>
</form>

