<h2>Transfer Product Location</h2>

<form action="/transfer_results">
  <p>Please enter the ID of the product.</p>
  
  <p><input type="number" name="id"></p>
  
  <p><input type="submit"></p>
</form>

<p><a href="/" title="To homepage">Click here to return to the main homepage.</a></p>